# Ignora directorios y archivos generados específicos de cada IDE
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Archivos generados por IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# Archivos generados por NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/nb-gradle/
build/

# Archivos generados por VS Code
.vscode/
